@page "/army"
@using Microsoft.AspNetCore.Authorization
@inject IUnitService UnitService
@attribute [Authorize]

<h3>Army</h3>

<table class="table table-striped">
    @foreach (var unit in UnitService.MyUnits)
    {
        <tr>
            <td>
                @switch (@unit.UnitId)
                {
                    case 1:
                        <img src="/icons/knight.png" alt=""/>
                        break;
                    case 2:
                        <img src="/icons/archer.png" alt=""/>
                        break;
                    case 3:
                        <img src="/icons/mage.png" alt=""/>
                        break;
                }
            </td>
            <td>
                @UnitService.Units.First(s => s.Id == @unit.UnitId).Titie 
            </td>
            <td>
                @unit.HitPoints HP
            </td>
        </tr>
    }
</table>

@code {

}
