@page "/army"
@inject IUnitService UnitService


<h3>Army</h3>

<table class="table">
    @foreach (var unit in UnitService.MyUnits)
    {
        <tr>
            <td>
                @switch (@unit.UnitId)
                {
                    case 1:
                        <img src="/icons/knight.png" />
                        break;
                    case 2:
                        <img src="/icons/archer.png" />
                        break;
                    case 3:
                        <img src="/icons/mage.png"/>
                        break;
                }
            </td>
            <td>
                @UnitService.Units.First(s => s.Id == @unit.UnitId).Titie 
            </td>
            <td>
                @unit.HitPoints HP
            </td>
        </tr>
    }
</table>

@code {

}
