@page "/build"
@using Microsoft.AspNetCore.Authorization

@inject IBananaService BananaService
@inject IUnitService UnitService
@inject IToastService ToastService
@attribute [Authorize]

<div class="form-group">
    <select @bind="_selectedUnitId" class="form-control">
        @foreach(var unit in UnitService.Units)
        {
            <option value="@unit.Id">@unit.Titie // @unit.BananaCost Bananas</option>
        }
    </select>
</div>

@if (_needMoreBanaas)
{
    <div class="validation-message">
        @{
            ToastService.ShowError("No bananas! Add more!");
        }
    </div>
}

<button class="btn btn-primary" @onclick="BuildUnit">Build selected unit</button>

@code 
{
    int _selectedUnitId = 1;
    bool _needMoreBanaas = false;

    public void BuildUnit()
    {
        var selectedUnit = UnitService.Units.FirstOrDefault(s => s.Id == _selectedUnitId);

        if (selectedUnit != null && BananaService.Bananas < selectedUnit.BananaCost)
        {
            _needMoreBanaas = true;
            return;
        }
        else
        {
            if (selectedUnit != null)
            {
                BananaService.EatBananas(selectedUnit.BananaCost);
                UnitService.AddUnit(_selectedUnitId);
                _needMoreBanaas = false;
            }
        }
    }

}
