@page "/login"

<h3>Login</h3>

<EditForm Model="_userLogin" OnValidSubmit="HandlerLogin">
    
</EditForm>

@code {

    private UserLogin _userLogin = new UserLogin();


    private void HandlerLogin()
    {
        
    }

}