@page "/register"
@inject IUnitService _unitService
@inject IJSRuntime _js
@inject NavigationManager _manager

<h3>Register</h3>

<EditForm Model="_user" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator/>
    <div class="form-group">
        <label for="email" class="requied">Email</label>
        <InputText @bind-Value="_user.Email" id="email" class="form-control"></InputText>
        <ValidationMessage For="() => _user.Email"/>
    </div>
    <div class="form-group">
        <label for="username">UserName</label>
        <InputText id="username" @bind-Value="_user.UserName" class="form-control"></InputText>
        <ValidationMessage For="() => _user.UserName"/>
    </div>
    <div class="form-group">
        <label for="password" class="requied">Password</label>
        <InputText id="password" @bind-Value="_user.Password" type="password" class="form-control"></InputText>
        <ValidationMessage For="() => _user.Password"/>
    </div>
    <div class="form-group">
        <label for="confirmpassword">Password confirm</label>
        <InputText id="confirmpassword" @bind-Value="_user.ConfirmPassword" type="password" class="form-control"></InputText>
        <ValidationMessage For="() => _user.ConfirmPassword"/>
    </div>
    <div class="form-group">
        <label for="bio">Bio:</label>
        <InputText id="bio" @bind-Value="_user.Bio" class="form-control"></InputText>
    </div>
    <div class="form-group">
        <label for="startunit">StartUnit:</label>
        <InputRadioGroup id="startunit" @bind-Value="_user.StarUnitId" class="form-control">
          
            @foreach (var unit in _unitService.Units)
            {
                string className = "";
                @switch (@unit.Id)
                {
                    case 1:
                        className = "/icons/knight.png";
                        break;
                    case 2:
                        className = "/icons/archer.png";
                        break;
                    case 3:
                        className = "/icons/mage.png";
                        break;
                }
                
                <br/><InputRadio Value="@unit.Id"/> 
                <img src="@className" alt=""/>
                <span style="padding-left: 10px;">@unit.Titie</span> 
            }
          
        </InputRadioGroup>
    </div>
    <div class="form-group">
        <label for="date">Data</label>
        <InputDate id="date" @bind-Value="_user.DateOfBirth" class="form-control"></InputDate>
    </div>
    <div class="form-group">
        <label for="banans">Bana count</label>
        <InputNumber id="banans" @bind-Value="_user.Bananas" class="form-control"></InputNumber>
        <ValidationMessage For="() => _user.Bananas"/>
    </div>
    <div class="form-check">
        <InputCheckbox id="confirmed" @bind-Value="_user.isConfirmed" class="form-check-input"></InputCheckbox>
        <label for="confirmed" class="form-check-label">Confirmed</label>
        <ValidationMessage For="() => _user.isConfirmed"/>
    </div>
    <button class="btn btn-success" type="submit">Register me!</button>
</EditForm>



@code {
    UserRegister _user = new UserRegister();

    async void HandleRegistration()
    {

        await _js.InvokeAsync<string>("console.log", _user);
        _manager.NavigateTo("login");
    }

}